parameters:


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


di:
	export:
		parameters: no
		tags: no

security:
    roles:
        guest:
        member: [guest]
        admin:

services:
    - App\Forms\FormFactory
    - App\Forms\SignInFormFactory
    - App\Forms\SignUpFormFactory
    - App\Model\ArticleManager(picturePath: "%wwwDir%/images/articles")
    - App\Model\CategoryManager
    - App\Model\CommentManager
    router: App\Router\RouterFactory::createRouter
    authenticator: App\Model\UserManager
    security.authorizator:
        setup:
            - addResource(Error)
            - addResource(Admin:Dashboard)
            - addResource(Admin:Sign)
            - addResource(Admin:Category)
            - addResource(Admin:Article)
            - addResource(Admin:User)
            - addResource(Admin:Comment)
            - allow(admin)
            - allow(guest, Error)
            - allow(guest, Admin:Sign)
            - allow(member, Admin:Dashboard, default)
            - allow(member, Admin:Sign, out)
